comp_el
comp_logic_ptca
comp_schema
eng
mat_an
old_trash
peripheral_devices
philosophy
security_inf
tek
fractals.docx
lab_2.docx
lab_3.docx
lab_4.docx
sm_lab_2.docx
lab1_obd-db2016_2017.pdf
lab2_obd-db2016_2017_0.pdf
python.pdf
OOP_LabsGuide_pII.zip
OOP_LectNotes.zip
opensuse/
PRO_Conspect_Marchenko_O.I_Examples_Java/
PRO_Conspect_Marchenko_O.I_Examples_Linux.rar
PRO_General_Theory_Marchenko_OI.pdf
PRO_Java_Marchenko_OI.pdf
q.c
Books/
Course/
examen/
fromolia/
Teacher/
AFD.EXE
LAB_5.EXE
LAB_5.OBJ
L.EXE
LINK.EXE
L.OBJ
MASM.EXE
TEST.LST
TEST.OBJ
AS.EXE
ASS.MAP
H.MAP
LAB6.EXE
LAB6.LST
LAB6.OBJ
labN6-2016.doc
S.CRF
Lab7-2015.doc
TEST_14.EXE
TEST_14.OBJ
test_1.asm~
TEST_1.EXE
TEST_1.OBJ
TEST_7.EXE
TEST_7.OBJ
test_8.asm~
TEST_8.EXE
TEST_8.OBJ
ASM2.LIB
DOS.INC
GASM11.OBJ
IMACROS.MAC
LAB8.EXE
MANUAL.DOC
SMARTCHK.CPS
TCDEMOB.C
TDCONVRT.EXE
TD.OVL
TDV1.EXE
TPDEMO.EXE
BIOS.INC
Edit.com
GLOBALS.INC
IWHGLOBL.INC
LAB8.LST~
MBIOS.MAC
TASM
TCDEMOB.EXE
TD.EXE
TDPACK.EXE
TEXE.ASM
TPDEMO.PAS
CHKLIST.CPS
EDIT.PIF
KBD.INC
LAB_8.MAP
README
TASM.BAT
TCDEMO.C
TDHELP.TDH
TDREMOTE.EXE
TLIB.EXE
CONVERT1.INC
FILES
IBIOS.MAC
lab8-15.doc
LAB8.MAP
L.MAP
README.COM
TASM.EXE
TCDEMO.EXE
TDINST.EXE
TDRF.EXE
TLINK.EXE
CONVERT2.INC
GASM11.EXE
IDOS.INC
SHOW87.COM
TASM.MAP
TCREF.EXE
TDMAP.EXE
TDSTRIP.EXE
TPDEMOB.BAK
DEBUG.EXE
GASM11.MAP
IDOS.MAC
LAB8.OBJ
MAKE.EXE
SHOW87.EXE
Tasm.pif
TD386.EXE
TDNMI.COM
TDUMP.EXE
TPDEMOB.EXE
HELPME!.DOC
*.fasl
comp_arch_2
comp_schema_2/
comp_schema_2
ipz1-opt/lexer.odt
ipz1-opt/*.docx
comp_system/lab_1.docx
comp_system/lab_2.docx
comp_system/lab_1.odt
comp_system/lab_2.odt
func_prog/lab_4_9.odt
func_prog/rgr.odt
func_prog/lab_4_9.docx
func_prog/rgr.docx
comp_system/*.fals
comp_system/lab_2.fasl
func_prog/lab_7.fasl
ipz1-opt/lexer.fasl
sda/
